{{> navbar user}}
<br>
<br>

<div id="order">
  <section class="main-order">
  <span class="subtitles">ARMA TU ORDEN</span>
  <form id="dessert">
  {{!-- <div>
    <label for="base">Tipo</label>
    <select name="base" id="base">
      <option value=""></option>
      <option value="Galleta">Galleta</option>
      <option value="Dona">Dona</option>
      <option value="Panqué">Panqué</option>
    </select>
  </div> --}}
  <div>

  </div>



  <div>
    <label for="frosting">Frosting</label>
    <select name="frosting" id="frosting">
      <option value="Sin frosting">Sin frosting</option>
      <option value="Tradicional">Tradicional</option>
      <option value="Chocolate">Chocolate</option>
      <option value="Fresa">Fresa</option>
    </select>
  </div>

  <div>
    <label for="toppings">Toppings</label>
    <select name="toppings" id="toppings" multiple>
    {{#each toppings}}
      <option class="toppings" value={{this._id}}>{{this.name}} <span class="prices" style="display:none;">{{this.price}}</span></option>
    {{/each}}
  </select>
  </div>
  <div>
    <span id="priceText">0</span>
    <input style="display:none;" id="price" type="number" name="price" value="">
  </div>
  <button onclick="submitform(event)" type="submit">Agregar</button>
  </form>



  </section>

  <aside class="main-check">
    <div id="show-data">
      {{!-- {{#each desserts}}
          <div>
            <h2>{{this.base}}</h2>
            <h2>{{this.frosting}}</h2>
            <h2>{{this.toppings}}</h2>
            <h2>{{this.price}}</h2>
          </div>
      {{/each}} --}}

      <button onclick="saveOrder()" type="submit">Enviar Orden</button>
    </div>
  </aside>
</div>

<script>
  var toppings = document.querySelectorAll('.toppings');
  console.log(toppings);
  var prices  = [];
  var total = 0;
  var desserts = [];
  var base = document.getElementById("base");
  var frosting = document.getElementById("frosting");
  var toppingsSelector = document.getElementById("toppings");
  var price = document.getElementById("priceText");
  toppings.forEach((topping)=>{
    topping.addEventListener("click", () => {
      if(topping.selected) {
      var price = topping.innerHTML.slice(-2);
      prices.push(parseInt(price));
      total = prices.reduce((sum, val)=>{
        return sum + val;
      });
      document.querySelector('#priceText').innerHTML = total;
      document.querySelector('#price').value = total;
      console.log(total);

      };
    });
  });
    console.log(dessert);
  function submitform(event) {
    
    var toppings = Array.prototype.slice.call(document.querySelectorAll("#toppings option:checked"),0).map((v,i,a)=>{
      return v.value;
    });
    var toppingsName = Array.prototype.slice.call(document.querySelectorAll("#toppings option:checked"),0).map((v,i,a)=>{
      return v.innerHTML;
    });
    var dessert = {
      base: base.options[base.selectedIndex].value,
      frosting: frosting.options[frosting.selectedIndex].value,
      toppings: toppings,
      toppingsName: toppingsName,
      price: total
    };
    desserts.push(dessert);

    console.log(desserts);
    cleanInputs();
    showData(desserts);
    event.preventDefault();
  };

  function cleanInputs() {
     base.value = "";
     frosting.value = "";
     toppingsSelector.value = "";
     total = 0;
     price.innerHTML = 0;
  }

  function showData(data) {
    console.log("data",data)
    var divData = document.getElementById("show-data");
    var arrayDivs = ''
    data.forEach((element)=>{
      const hola = `<div>
        <h2>${element.base}</h2>
        <h2>${element.frosting}</h2>
        <h2>${element.toppings}</h2>
        <h2>${element.price}</h2>
      </div>`
      arrayDivs += hola;
    })
    divData.innerHTML = arrayDivs
    //ivData.innerHTML += createItemNode();
   /* data.forEach((element)=>{
      var node = document.createElement("p"); 
      var textBase = document.createTextNode(element.base);
      var textFrosting = document.createTextNode(element.frosting);
      var textTopping = document.createTextNode(element.toppingsName);
      node.appendChild(textBase);
      node.appendChild(textFrosting);
      node.appendChild(textTopping);

      document.getElementById("show-data").appendChild(node);
    })
*/
  };

  function createItemNode(){
    var itemDiv = "";
    itemDiv = "<div>";
    itemDiv += "<h1>"+"</h1>";
    itemDiv += "</div>";

  };

  function saveOrder() {
    var userId = document.getElementById("user-id").innerHTML;
    var dessertIds = [];
    desserts.forEach(element=>{
      axios.post('localhost:3000/order', element)
      .then(response => {
          dessertIds.push(response._id);
      })
      .catch(error => {
          console.log('Oh No! Error!');  
          console.log(error)
      });
    });
  
    var totalOrder = desserts.reduce((sum, val)=>{
      return sum+=val.price;
    }, 0);
    
    var newOrder = {
       _dessert: dessertIds,
       _user: userId,
      total: totalOrder
    }

     axios.post('localhost:3000/order', newOrder)
      .then(response => {
          console.log('la orden ha sido guardada', response);
      })
      .catch(error => {
          console.log('Oh No! Error!');  
          console.log(error)
      });
  
  

console.log(newOrder);

};



//Google Maps
window.onload = function () {
        const input = document.getElementById("autocomplete");
        const lat = document.getElementById("lat");
        const lng = document.getElementById("lng");
        const dropdown = new google.maps.places.Autocomplete(input);
        dropdown.addListener("place_changed", () => {
            console.log(dropdown.getPlace());
            let place = dropdown.getPlace();
            lat.value = place.geometry.location.lat();
            lng.value = place.geometry.location.lng();
            name.value = place.name;
        })
    }



</script>

