{{> navbar user}}
<br>
<br>

<div style="width:100%;"><span class="subtitles">ARMA TU ORDEN</span></div>
<div id="order">
  <section class="main-order">
  <form id="dessert">
        <h3 class="center order-title">¡Elige base!</h3>

        <div id="orden-base" class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/donut.png" alt="Nuestras donas">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title center">Donas</h3>
                        <p class="price-description">6 donas por<br><strong>$150</strong></p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/cookie.png" alt="Nuestras galletas">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title center">Galletas</h3>
                        <p class="price-description">12 galletas por <br><strong>$150</strong></p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/muffin.png" alt="Nuestros muffins">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title center">Muffins</h3>
                        <p class="price-description">6 muffins por <br><strong>$150</strong></p>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="uk-margin center">
          <h3 for="base">Quiero:</h3>
          <select name="base" id="base" class="uk-select uk-form-width-medium" required>
            <option value=""></option>
            <option value="Galleta">Galleta</option>
            <option value="Dona">Dona</option>
            <option value="Panqué">Panqué</option>
          </select>
        </div> 
        <br>


        <h3 class="center order-title">¡Elige frosting!</h3>
        <div id="orden-frosting" class="uk-child-width-1-3@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/tradicional.png" alt="Frosting clásico">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title center">Clásico</h3>
                        <p class="price-description"><strong>+$20</strong></p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/chocolate.png" alt="Frosting de chocolate">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title center">Chocolate</h3>
                        <p class="price-description"><strong>+$20</strong></p>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/fresa.png" alt="Frosting de fresa">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title center">Fresa</h3>
                        <p class="price-description"><strong>+$20</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin center">
          <h3 for="frosting">Quiero:</h3>
          <select name="frosting" id="frosting" class="uk-select uk-form-width-medium" required>
            <option value=""></option>
            <option value="Tradicional">Tradicional</option>
            <option value="Chocolate">Chocolate</option>
            <option value="Fresa">Fresa</option>
          </select>
        </div>
        <br>

        

        
    <h3 class="center order-title">¡Elige toppings!</h3>
    <div uk-slider="center: true">
        <div class="uk-position-relative uk-visible-toggle uk-light">
            <ul name="toppings" id="toppings" class="uk-slider-items uk-child-width-1-3@s uk-grid">
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/toppings/bacon.png" alt="tocino">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title center">Tocino</h3>
                            <p class="price-description"><strong>+$40</strong></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/toppings/chocochips.png" alt="chocochips">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title center">Chocochips</h3>
                            <p class="price-description"><strong>+$20</strong></p>
                            </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/toppings/bears.png" alt="Panditas">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title center">Panditas</h3>
                            <p class="price-description"><strong>+$20</strong></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/toppings/m&ms.png" alt="M&M's">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title center">M&M's</h3>
                            <p class="price-description"><strong>+$40</strong></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/toppings/pretzels.png" alt="Pretzels">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title center">Pretzels</h3>
                            <p class="price-description"><strong>+$30</strong></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/toppings/frootloops.png" alt="Froot Loops">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title center">Froot Loops</h3>
                            <p class="price-description"><strong>+$30</strong></p>
                        </div>
                    </div>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

        <div class="uk-margin center">
          <h3 for="toppings">Quiero:</h3>
          <select name="toppings" id="toppings" class="uk-select uk-form-width-medium" multiple>
          {{#each toppings}}
            <option class="toppings select" value={{this._id}}>{{this.name}} <span class="prices">${{this.price}}</span></option>
          {{/each}}
        </select>
        </div>
    </div>
    <br>

    <div style="display:flex">
      <h3 id="order-price" style="margin:auto;" class="order-title">Precio de tu postre:</h3>
    </div>
    <div style="display:flex">
      <p style="margin: auto; display:inline;">$<span id="priceText">0</span></p>
      <input style="display:none;" id="price" type="number" name="price" value="">
    </div>
    <br>
    <div style="display:flex">
      <button onclick="submitform(event)" style="margin:auto;" type="submit" class="uk-button uk-button-primary uk-button-medium uk-width-1-4@s boton-form">Agregar</button>

      {{!-- <button onclick="saveOrder()" style="margin:auto;" type="submit" class="uk-button uk-button-primary uk-button-medium uk-width-1-4@s boton-form boton-form-pink">Enviar Orden</button> --}}
    
    </div>
    </form>
    <form class="center" style="margin-top:20px;" action="/pagado" method="GET">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_epuiqKESrji9Ae5A3KlGduyb"
                        data-amount="total"
                        data-name="Fudge Yeah"
                        data-description="Your payment"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                </script>
            </form>
  </section>
  <aside class="main-check">
    <div id="show-data">
      {{#each desserts}}
          <div class="display-dessert">
            <h3>Tu postre:</h3>
            <p>{{this.base}}</p>
            <p>{{this.frosting}}</p>
            <p>{{this.toppings.name}}</p>
            <p>{{this.price}}</p>
          </div>
      {{/each}}

    </div>
  </aside>
</div>

<script>
  var toppings = document.querySelectorAll('.toppings');
  
  var prices  = [];
  var total = 0;
  var dessertPrice = 170;
  var desserts = [];
  var base = document.getElementById("base");
  var frosting = document.getElementById("frosting");
  var toppingsSelector = document.getElementById("toppings");
  var price = document.getElementById("priceText");
  toppings.forEach((topping)=>{
    topping.addEventListener("click", () => {
      if(topping.selected) {
      var price = topping.innerHTML.slice(-2);
      prices.push(parseInt(price));
      total = dessertPrice + prices.reduce((sum, val)=>{
        return sum + val;
      });
      document.querySelector('#priceText').innerHTML = total;
      document.querySelector('#price').value = total;
      

      };
    });
  });
    
  function submitform(event) {
    
    var toppings = Array.prototype.slice.call(document.querySelectorAll("#toppings option:checked"),0).map((v,i,a)=>{
      return v.value;
    });
    var toppingsName = Array.prototype.slice.call(document.querySelectorAll("#toppings option:checked"),0).map((v,i,a)=>{
      return v.innerHTML;
    });
    var dessert = {
      base: base.options[base.selectedIndex].value,
      frosting: frosting.options[frosting.selectedIndex].value,
      toppings: toppings,
      toppingsName: toppingsName,
      price: total
    };
    desserts.push(dessert);

   
    cleanInputs();
    showData(desserts);
    event.preventDefault();
  };

  function cleanInputs() {
     base.value = "";
     frosting.value = "";
     toppingsSelector.value = "";
     total = 0;
     price.innerHTML = 0;
  }

  function showData(data) {
    
    var divData = document.getElementById("show-data");
    var arrayDivs = ''
    data.forEach((element)=>{
      const dessertData = `<div class="display-dessert">
          <h3>Tu postre:</h3>
        <p class="dessert-elem"><strong>Base:</strong>${element.base}</p>
        <p class="dessert-elem"><strong>Frosting:</strong>${element.frosting}</p>
        <p class="dessert-elem"><strong>Toppings:</strong>${element.toppingsName}</p>
        <p class="dessert-elem"><strong>Precio:</strong>${element.price}</p>
      </div>`
      arrayDivs += dessertData;
    })
    divData.innerHTML = arrayDivs
    //ivData.innerHTML += createItemNode();
   /* data.forEach((element)=>{
      var node = document.createElement("p"); 
      var textBase = document.createTextNode(element.base);
      var textFrosting = document.createTextNode(element.frosting);
      var textTopping = document.createTextNode(element.toppingsName);
      node.appendChild(textBase);
      node.appendChild(textFrosting);
      node.appendChild(textTopping);

      document.getElementById("show-data").appendChild(node);
    })
*/
  };

  function createItemNode(){
    var itemDiv = "";
    itemDiv = "<div>";
    itemDiv += "<h1>"+"</h1>";
    itemDiv += "</div>";

  };

  function saveOrder() {
    var userId = document.getElementById("user-id").innerHTML;
    var dessertIds = [];
    desserts.forEach(element=>{
      axios.post('localhost:3000/order', element)
      .then(response => {
          dessertIds.push(response._id);
      })
      .catch(error => {
          console.log('Oh No! Error!');  
          console.log(error)
      });
    });
  
    var totalOrder = desserts.reduce((sum, val)=>{
      return sum+=val.price;
    }, 0);
    
    var newOrder = {
       _dessert: dessertIds,
       _user: userId,
      total: totalOrder
    }

     axios.post('localhost:3000/order', newOrder)
      .then(response => {
          console.log('la orden ha sido guardada', response);
      })
      .catch(error => {
          console.log('Oh No! Error!');  
          console.log(error)
      });
  
  

console.log(newOrder);

};



</script>

