
<h3>Actualiza tus datos</h3>


<form action="/profile/{{user._id}}/edit" method="post">

    <div>
        <label for="name">
            Nombre:
            <input value={{user.name}} type="text" name="name">
        </label>
    </div>
    <div>
        <label for="lastname">
            Apellido:
            <input value={{user.lastname}} type="text" name="lastname">
        </label>
    </div>
    <div>
        <label for="address">
            Dirección:
            <input value={{user.address}} type="text" name="address">
        </label>
    </div>

  
  <div>
        <label for="phone">
           Número telefónico:
            <input value={{user.phone}} type="text" name="phone">
        </label>
    </div>


  <div>
        <label for="email">
            Correo electrónico:
            <input value={{user.email}} type="email" name="email">
        </label>
    </div>

    

    <div>
        <button type="submit">Actualizar</button>
    </div>



</form>
