<form action="/auth/signup" method="post">

    <div>
        <label for="">
            Usuario:
            <input value="{{user.username}}" type="text" name="username" required>
        </label>
    </div>

    <div>
        <label for="">
            Correo electrónico:
            <input value="{{user.email}}" type="email" name="email" required>
        </label>
    </div>

    <div>
        <label for="">
            Nombre:
            <input value="{{user.name}}" type="text" name="name" required>
        </label>
    </div>
    <div>
        <label for="">
            Apellido:
            <input value="{{user.lastname}}" type="text" name="lastname" required>
        </label>
    </div>
    <div>
        <label for="">
            Dirección:
            <input value="{{user.address}}" type="text" name="address" required>
        </label>
    </div>

  
  <div>
        <label for="">
           Número telefónico:
            <input value="{{user.phone}}" type="text" name="phone">
        </label>
    </div>


    <div>
        <label for="">
            Contraseña:
            <input value="{{user.password}}" type="password" name="password" required>
        </label>
    </div>

    <div>
        <label for="">
            Confirmar contraseña:
            <input type="password" name="password-confirm" required>
        </label>
    </div>

    <div>
        <button type="submit">Registrarse</button>
    </div>



</form>